@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #f8fafc;
    /* slate-50 */
    --foreground: #0f172a;
    /* slate-900 */
  }

  .dark {
    --background: #0f172a;
    --foreground: #ededed;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}